<footer class="gh-foot flex items-center justify-center pt-[8vmin] px-[4vmin] pb-[4vmin]">
    <div class="gh-container w-full max-w-[1200px] mx-auto">
        <div class="gh-foot-menu flex items-center justify-center">
            {{navigation type="secondary"}}
        </div>
        <div class="gh-foot-meta my-1 text-center opacity-75 text-sm">
            Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </div>
    </div>
</footer>