/* Layout Variants
/* ---------------------------------------------------------- */

.gh-head-brandnavactions .gh-head-brand {
    grid-column-start: 1;
}

.gh-head-brandnav .gh-container {
    grid-gap: 0;
    grid-template-columns: auto max-content max-content;
}
.gh-head-brandnav .gh-head-brand {
    grid-column-start: 1;
}
.gh-head-brandnav .gh-head-menu {
    margin-left: 40px;
}
.gh-head-brandnav .gh-head-menu .nav li {
    margin: 0 0 0 1.5vmin;
    padding: 0;
}

/* Center Stacked */
.gh-head-stacked .gh-container {
    grid-template-columns: 1fr;
    grid-gap: 2vmin;
}
.gh-head-stacked .gh-head-brand {
    grid-column-start: 1;
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: center;
    text-align: center;
}
.gh-head-stacked .gh-head-menu,
.gh-head-stacked .gh-head-actions,
.gh-head-stacked .gh-head-actions-list {
    justify-content: center;
}
.gh-head-stacked .gh-head-actions a:first-child svg {
    margin-left: 0;
}