/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";
@import "base/globals.css";

@import "tailwindcss/components";
@import "components/navigation.css";
@import "components/postlist.css";
@import "components/content.css";

@import "tailwindcss/utilities";